<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My dashboard</title>
    <link href="https://charts.mongodb.com/charts-admin-lohmn/public/dashboards/3b17def1-957c-4837-b572-750642ba0d36"/>
</head>
<body>
    <li class="nav-item active">
        <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
    </li>
</body>
</html>

            