<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My dashboard</title>
</head>
<body>
    <link href="https://charts.mongodb.com/charts-admin-lohmn/public/dashboards/3b17def1-957c-4837-b572-750642ba0d36"/>
</body>
</html>

            