https://charts.mongodb.com/charts-admin-lohmn/public/dashboards/3b17def1-957c-4837-b572-750642ba0d36

<div class="col-md-12">
                <div class="te text-center text-white">
                    <h1> Click registration for registration</h1>
                     <li class="nav-item">
                    <a class="nav-link text-white" href="/employee"> Registration</a>
                </li>
                <h1>Click home for home page</h1>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
                </li>

                    <p>This is Home page</p>
                </div>
            